@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* CATPPUCCIN MOCHA COLOR PALLETTE */
:root{
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
}

html{
    background:url(https://raw.githubusercontent.com/orangci/walls-catppuccin-mocha/master/cat-vibin.png);
    font-family: "JetBrains Mono", serif;
    color:var(--text);
}

body {
    margin:auto;
    width: 30rem;
    background:var(--crust);
    margin-top:5rem;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

h1{
    color: var(--crust);
    background: linear-gradient(to left,var(--mauve),var(--red));
    display:inline;
    padding: 0px 15px 0px 15px;
    border-radius: 30px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

h2 {
    font-size: 12px;
}

/* CLOCK */
.clock {
    position: relative;
    height: 20rem;
    width: 20rem;
    background: var(--mantle);
    margin: auto;
    border-radius: 50%;
    border: 10px solid var(--base);
    box-shadow: inset 0px 0px 5px var(--crust);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateX(30px);
}

.clock-face::before{
    content:"";
    display:block;
    position: relative;
    background:var(--text);
    box-sizing: border-box;
    height: 12px;
    width: 12px;
    top: 9.8rem;
    left: 7.6rem;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0px 0px 3px var(--crust);
}

.hand {
    width: 40%;
    background: var(--text);
    position: absolute;
    top: 50%;
    border-radius: 10px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 0.05s;
    box-shadow: 0px 0px 3px var(--crust);
  }

  .second {
    height: 3px;
    background: var(--red);
  }


  .minute {
    height: 5px;
  }

  .hour {
    height: 7px;
  }

  #date {
    background: var(--mantle);
    border-radius: 20px;
    text-shadow: 1px 2px var(--crust);
    margin-bottom: 0px;
  }

  #digitalClock {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 35px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    border: 3px solid var(--mantle);
    border-radius: 20px;
    background: var(--crust);
  } #digitalClock:hover{
    transform: scale(1.2);
    color: var(--mauve);
    box-shadow: 0px 0px 6px;
    border-color: var(--mauve);
  }